<footer class="footer">
    <div class="footer-container">
        <!-- Top Section: Logo & Links -->
        <div class="footer-main">
            <div class="footer-logo">
                <img src="../public/images/sec_logo.png" alt="ARDE Secondary Logo">
            </div>
            <div class="footer-links">
                <a href="../pages/home.html">Home</a>
                <a href="../pages/about.html">About</a>
                <a href="../pages/events.html">Events</a>
                <a href="../pages/career.html">Careers</a>
                <a href="../pages/membership.html">Contact</a>
            </div>
        </div>
        
        <!-- Bottom Section: Copyright -->
        <div class="footer-bottom">
            <p>&copy; 2026 Association of Rooms Division Executives Singapore. All rights reserved.</p>
        </div>
    </div>
</footer>